<!DOCTYPE html>
 <html lang ="en">     <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <img src = "/images/logo-mercado-liebre.svg">
     </head>         <title>Mercado Liebre</title>
        <body>
            <nav>Lugar para poner barra de tareas</nav>
            <br>
            <div>Comprá en cuotas y sin tarjeta de crédito</div>
            <ul>
                <li><a href="https://wwwppp.com">Ofertas</a> </li>
                <li><a href="https://wwwppp.com">Tiendas Oficiales</a> </li>
                <li><a href="https://wwwppp.com">Vender</a> </li>
                <li><a href="https://wwwppp.com">Ayuda</a> </li>                <br>                <li><a href="https://wwwppp.com">Crea tu cuenta</a> </li>
                <li><a href="https://wwwppp.com">Ingresá</a> </li>
                <li><a href="https://wwwppp.com">Mis compras</a> </li>
            </ul>            <main>
                <section>
                    <article>
                    <h3>Basado en tu ultima visita</h3>
                    <img src = "/images/img-cafetera-moulinex.jpg">                    <div>$6.770</div>
                    <div>40% off</div>
                    <div>Cafetera Moulinex</div>
                 </article>
                 <article>                    <img src = "/images/img-macbook-pro-2019.jpg">                    <div>$230.000</div>
                    <div>20% off</div>
                    <div>Macbook pro 2019</div>                   </article>                 <article>
                    <img src="/images/img-samsung-galaxy-s10.jpg">
                    <div>$70.500</div>
                    <div>10% off</div>
                    <div>Samsung Galaxy S10</div>
                 </article>                 <article>
                    <img src ="/images/img-tv-samsung-smart.jpg">                    <div>$23.200</div>
                    <div>5% off</div>
                    <div>SmarTv Samsung 43"</div>                  </article>
                </section>                    <section>
                     <h3>OFERTAS</h3>
                       <article>
                         <img src = "/images/img-cafetera-moulinex.jpg">                         <div>$6.770</div>
                         <div>40% off</div>
                        <div>Cafetera Moulinex</div>
                       </article>                       <article>                        <img src = "/images/img-macbook-pro-2019.jpg">                        <div>$230.000</div>
                        <div>20% off</div>
                        <div>Macbook pro 2019</div>                        </article>                        <article>
                             <img src ="/images/img-tv-samsung-smart.jpg">                             <div>$23.200</div>
                             <div>5% off</div>
                             <div>SmarTv Samsung 43"</div>
                            </article>                        <article>
                            <img src="/images/img-samsung-galaxy-s10.jpg">
                            <div>$70.500</div>
                            <div>10% off</div>
                            <div>Samsung Galaxy S10</div>
                        </article>                    </section>            </main>        </body>
        <footer>
            <h5>Pagá con tarjeta o en efectivo</h5>
            <br>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
                <br>
            <h5>Envío gratis desde $ 2.500</h5> 
            <br>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
                <br>
            <h5>Seguridad, de principio a fin</h5>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
                <br>
                <h5>Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
        </footer>     </html>

