body{
    background-color: rgb(234, 201, 38);
    opacity: 1;
    font-family: 'Roboto', sans-serif;
}
.titulos{
    font-size: 24px;
}
#precios{
    font-size: 18px;
}
#descuentos{
    font-size: 16px;
}
#descripciones{
    font-size: 16px;
}
.titulos .icono{
    color: black;
}
.barra{
    padding-left: 40px;
    padding-top: 10px;  
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}

.burger-menu{
    display: block;
    text-align: center;
    background-color: #03254C;
    color: blanchedalmond;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 8px;
    font-size: 18px;
    margin: auto;
}
header{
    margin: auto;
}
img{
    display: flex;
    justify-content: center;
    width: 100%;
}
.pie{
    text-align: center;
}
.iconotarjeta{
    text-align: center;
}
.iconoregalo{
    text-align: center;
}
.iconoseguridad{
    text-align: center;
}
.articulos{
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
}
.articulosDos{
    border-top: solid 1px #EBEBEB;
    background-color: white;
}
.prueba ul {
    margin: 0;
    padding: 0;
}
.prueba a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}


@media (min-width: 0px) and (max-width: 360px){
    .articulosDos{
        display: none;
    }
    .prueba{
        display: none;
    }
}
@media (min-width: 361px) {
    .articulosDos{
        border-top: solid 1px #EBEBEB;
        background-color: white;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .burger-menu{
        display: none;
    }
}
@media (min-width: 769px) {
    .articulosDos{
        border-top: solid 1px #EBEBEB;
        background-color: white;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .burger-menu{
        display: none;
    }
    .main-header    {
        display: flex;
        justify-content: space-between;
    }
    .copy-barra{
        max-width: 350px;
        padding-left: 40px;
        padding-top: 10px;  
        padding-bottom: 10px;
        display: flex;
        justify-content: center;
        text-align: right;
    }
    .prueba {
        display: flex;
        border: dotted 2px red; 
        justify-content: space-between;
    }
    .prueba ul{
        display: flex;
    }
    .prueba li{
        margin: 0 5px;
    }
@media (min-width: 1200px) {
    .prueba, .main-header{
        max-width: 1200px;
        margin: auto;
    }
    .prueba li{
        margin: 0 10px;
    }
    .prueba a{
        font-size: 16px;
    }
    .copy-barra{
        max-width: none;
    }
    .logo{
        width: 150px;
    }
    .prueba{
        margin-top: 40px;
    }
}
    }


    
.description {

    opacity: 10;
    transition: all 300ms;
}

article:hover .description {

    opacity: 0.5;
}


.cajaDatos {

    height: 50px;
    transition: all 300ms;
}

article:hover .cajaDatos {

    height: 100px;
}

.control-formulario{
    margin-bottom: 15px;
    text-align: center;
}
.linea{
    text-align: center;
}


    width:100px;

    width: 200px;

    0.001 width: 100,01px

    0.001 width: 100,02px
    3 width: 200px

    visibility: hidden

    opacity: 0
    opacity: 1


